.role-options {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.role-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s;
}

.role-option .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 8px;
  display: inline-block;
}

.role-option.active .dot {
  background-color: #28a745;
  border-color: #28a745;
}

.alert-close button {
  flex: 1;
  margin: 0 5px;
  height: 40px;
  font-size: 16px;
  padding: 0;
}

.fg-pw {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.bt-primary {
  background-color: #4caf50; /* màu xanh lá, ví dụ */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
}

.bt-primary:hover {
  background-color: #0e8c29;
}
.fw {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }

  .bt-primary {
    padding: 6px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
  }

  .bt-secondary {
    padding: 6px 16px;
    background-color: #ccc;
    border: none;
    border-radius: 6px;
  }
}
